In [3]:
a = 10              #int only 0-9
b = 10.5            #float 0-9 with decimal 
c = 'Hello World'   #string anything between '' or ""
d = True            #boolen only True or False

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
# int to float
a = 10 
b = float(a)
print(b)

10.0

In [7]:
#float to int 
a = 10.5
b = int(a)
print(b)

10

In [8]:
#int or float to string
a = 10 
b = str(a)
print(b)

10

In [10]:
a = 'Ten'
b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'Ten'

In [12]:
#string to float 
a = '10.5'
b = float (a)
print(b)

10.5

In [13]:
#int to boolen 
a = 0 
b = bool(a)
print(b)

False

In [14]:
#str to bool 
a = ''
b = bool(a)
print(b)

False

In [15]:
#user defined variable

In [20]:
a = int(input('Enter a = '))
b = int(input('Enter b = '))
c = a+b 
print(c)

Enter a =  10
Enter b =  10

20

In [1]:
a = float(input('Enter a = '))
b = float(input('Enter b = '))
c = a+b 
print(c)

Enter a =  10.5
Enter b =  20.3

30.8

In [2]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100 

print("The value of ", i)

Enter p =  10000
Enter t =  10
Enter r =  10.5

The value of  10500.0

In [3]:
# WAP to calculate area of Circle

In [1]:
pi = 3.14
r = float(input("Enter radius = "))
a = 3.14*r**2
print("the area of circle = ",a)

Enter radius =  7

the area of circle =  153.86

In [1]:
physics = float(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
nepali = float(input("Enter nepali marks = "))
math = int(input("Enter math marks = "))

total = physics+chemistry+nepali+math
per = total/4

print("the total marks = ",total)
print("the per = ",per,"%")

Enter physics marks =  86.5
Enter chemistry marks =  95
Enter nepali marks =  95.5
Enter math marks =  45

the total marks =  322.0
the per =  80.5 %

In [2]:
cli_p = int(input("Enter CLI price = "))
cli_q = int(input("Enter CLI quantity = "))
cli_b = int(input("Enter CLI bonus shares = "))

total_quantity = cli_q + cli_b
total_price = cli_q * cli_p
avg_price = total_price / total_quantity

print("The total quantity = ", total_quantity)
print("The total price = ", total_price)
print("The average price = ", avg_price)

Enter CLI price =  758
Enter CLI quantity =  300
Enter CLI bonus shares =  80

The total quantity =  380
The total price =  227400
The average price =  598.421052631579