In [ ]:
#dictionary 
# -indexing 
# -ordering
# -multiple and duplicate data
# -mutable

In [1]:
a = {}
b = dict()

print(type(a))
print(type(b))

<class 'dict'>
<class 'dict'>

In [ ]:
# d = {<key>:<value>, <key>:<value>, <key>:<Value>}

In [3]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [4]:
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [3]:
#adding value on dictionary 
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
#updating value on dictionary 
dic = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
dic['a'] = 'Ant'
print(dic)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [6]:
#dictionary on loop 
a = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
for i in a:
    print(i)

a
b
c
A

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
for i in a.values():
    print(i)

Apple
Ball
Cat
Apple

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')
('A', 'Apple')

In [12]:
l = [['a','Apple'],
    ['b','Ball'],
    ['c','Cat']]
dic = dict(l)
print(dic)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
#create 
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  2
Enter name =  Ram
Enter phone =  905824422492
Enter name =  Shyam
Enter phone =  9238408382

{'Ram ': '905824422492', 'Shyam': '9238408382'}

In [17]:
#update 
d = {'Ram': '905824422492', 'Shyam': '9238408382'}
d['Ram'] = '98058583595'
d

{'Ram': '98058583595', 'Shyam': '9238408382'}

In [18]:
# delete 
#del pop()
d = {'Ram': '98058583595', 'Shyam': '9238408382'}
del d['Ram']
print(d)

{'Shyam': '9238408382'}

In [20]:
d = {'Ram': '98058583595', 'Shyam': '9238408382'}
d.pop('Shyam')
print(d)

{'Ram': '98058583595'}

In [21]:
d = {'Ram': '98058583595', 'Shyam': '9238408382'}
b = d.pop('Shyam')
print(d)
print(b)

{'Ram': '98058583595'}
9238408382

In [22]:
info = {'Ram': [984373975793,985573795377],
        'Shyam':[9843598945,98587423923]}
info

{'Ram': [984373975793, 985573795377], 'Shyam': [9843598945, 98587423923]}

In [25]:
info = {'name':['Ram','Shyam'],
        'ntc':[9856862772,98563928929],
        'ncell':[980823289392,980872792479]}
info

{'name': ['Ram', 'Shyam'],
 'ntc': [9856862772, 98563928929],
 'ncell': [980823289392, 980872792479]}

In [26]:
print(info['name'][0])
print(info['ntc'][0])
print(info['ncell'][0])

Ram
9856862772
980823289392

In [27]:
#read
i = int(input("Enter index = "))
info = {'name':['Ram','Shyam'],
        'ntc':[9856862772,98563928929],
        'ncell':[980823289392,980872792479]}
print(info['name'][0])
print(info['ntc'][0])
print(info['ncell'][0])

Enter index =  0

Ram
9856862772
980823289392

In [31]:
info = {'name':[],
        'ntc':[],
        'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc = ")
    ncell = input("Enter ncell = ")
    info['name'].append(name)
    info['ntc'].append(ntc)
    info['ncell'].append(ncell)

print(info)

Enter n =  2
Enter name =  Ram
Enter ntc =  9841940340
Enter ncell =  985321029102
Enter name =  Shyam
Enter ntc =  9841490039404
Enter ncell =  9853834343478

{'name': ['Ram ', 'Shyam '], 'ntc': ['9841940340', '9841490039404'], 'ncell': ['985321029102', '9853834343478']}

In [ ]:
#WAP to take data from user and create dict inside list also do CRUD 
#WAP to take data from user and create dict inside dict also do CRUD