In [ ]:
#pyhton collections
#list
#tuple
#dict
#set

In [ ]:
# list 
# -Indexing 
# -Multiple and duplicate 
# -Ordered 
# -Mutable

In [ ]:
l = list()

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Dog","Horse","Cat","Fish"]
print(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Apple', 'Dog', 'Horse', 'Cat', 'Fish']
<class 'list'>
<class 'list'>

In [1]:
b = ["Apple","Dog","Horse","Cat","Fish","Apple"]
print(b[0])
print(b[0:3])
print(b[0:6:2])

Apple
['Apple', 'Dog', 'Horse']
['Apple', 'Horse', 'Fish']

In [7]:
b = ["Apple","Dog","Cat","Fish","Ball","Apple"]
print(b[-2])

Ball

In [9]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [10]:
a = ["Hello","World"]
print(a*2)

['Hello', 'World', 'Hello', 'World']

In [12]:
b = ["Apple","Ball","Cat"]
for i in b:
    print(i)

Apple
Ball
Cat

In [16]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
    print(l)

Enter n =  3
Enter x =  5

[5]

Enter x =  6

[5, 6]

Enter x =  7

[5, 6, 7]

In [18]:
print("Min value = ", min(l))
print("Max value = ", max(l))
print("Sum of value = ", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value =  5
Max value =  7
Sum of value =  18
[5, 6, 7]
[7, 6, 5]

In [19]:
a = ["Banana","Apple","Aaksh","Zebra","Xray"]
a.sort()
print(a)

['Aaksh', 'Apple', 'Banana', 'Xray', 'Zebra']

In [ ]:
# CRUD Operation 
#c -> create
#r -> read
#u -> update 
#d -> delete

In [ ]:
# create 
# append() insert() extend()

In [20]:
#Append()
l = []
l.append("Apple")
l.append("Ball")
l.append("Cat")
print(l)

['Apple', 'Ball', 'Cat']

In [2]:
#Insert()
a = ["Akash","Apple","Banana","Xray","Zebra"]
a.insert(2,"apple")
print(a)

['Akash', 'Apple', 'apple', 'Banana', 'Xray', 'Zebra']

In [23]:
#extend()
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#update 
a = ["Akash","Apple","Banana","Xray","Zebra"]
a[0] = "Nabin"
a

['Nabin', 'Apple', 'Banana', 'Xray', 'Zebra']

In [25]:
a = ["Akash","Apple","Banana","Xray","Zebra"]
a[0:2] = ["Sita","Gita"]
a

['Sita', 'Gita', 'Banana', 'Xray', 'Zebra']

In [ ]:
# delete 
# del remove() pop()

In [26]:
a = ["Akash","Apple","Banana","Xray","Zebra"]
del a[0]
print(a)

['Apple', 'Banana', 'Xray', 'Zebra']

In [27]:
a = ["Akash","Apple","Banana","Xray","Zebra"]
del a[0:2]
print(a)

['Banana', 'Xray', 'Zebra']

In [28]:
#remove()
a = ["Akash","Apple","Banana","Xray","Zebra"]
a.remove("Apple")
print(a)

['Akash', 'Banana', 'Xray', 'Zebra']

In [29]:
#pop 
a = ["Akash","Apple","Banana","Xray","Zebra"]
a.pop(3)
print(a)

['Akash', 'Apple', 'Banana', 'Zebra']

In [ ]:
# nested list (list inside list)

In [1]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [2]:
a = [["Ram",35,"kathmandu"],["Shyam",25,"bhaktapur"],["God","Pashupati"]]
print(a)

[['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]

In [3]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    data.append(x)
print(data)

Enter n =  2
Enter name =  ram
Enter age =  35
Enter add =  kkkkkkola
Enter name =  shyam
Enter age =  35
Enter add =  ghar

[['ram ', 35, 'kkkkkkola'], ['shyam ', 35, 'ghar ']]

In [4]:
#indexing
a = [['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]
print(a[0])
print(a[0] [0])

['Ram', 35, 'kathmandu']
Ram

In [5]:
a.append(["sabin",25,"dolkha"])
a

[['Ram', 35, 'kathmandu'],
 ['Shyam', 25, 'bhaktapur'],
 ['God', 'Pashupati'],
 ['sabin', 25, 'dolkha']]

In [6]:
for i in a:
    print(i)

['Ram', 35, 'kathmandu']
['Shyam', 25, 'bhaktapur']
['God', 'Pashupati']
['sabin', 25, 'dolkha']

In [10]:
#update
a = [['Ram', 35, 'kathmandu'],
     ['Shyam', 25, 'bhaktapur'],
     ['God',10,'Pashupati']]
a[0][0] = "Ram prasad"
print(a)

[['Ram prasad', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 10, 'Pashupati']]

In [12]:
#del remove() pop()
a = [['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]
del a[0]
a

[['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]

In [13]:
a = [['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]
del a[0][0]
a

[[35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 'Pashupati']]

In [14]:
#search
a = ["Ram","Sita","Hari","Gita","Shyam","Rambo"]
search = input("Enter name = ")
if search in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Enter name =  Ram

Yes
1

In [15]:
#search in list 
c = 0
a = [['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 45, 'Pashupati'],['Ram', 30,'Ayodha'],['Ram', 55,'Janakpur']]
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)
        c = c + 1

print(c)

Enter name =  bhaktapur

['Shyam', 25, 'bhaktapur']
1

In [11]:
a = [['Ram', 35, 'kathmandu'], ['Shyam', 25, 'bhaktapur'], ['God', 45, 'Pashupati'],['Ram', 30,'Ayodha'],['Ram', 55,'Janakpur']]
l = len(a)
search = input("Enter name = ") 
for i in range(l):
    if search in a[i]:
        print(i)

Enter name =  Ram

0
3
4

In [4]:
b = [] 
a = [['Ram', 35, 'kathmandu'], 
     ['Shyam', 25, 'bhaktapur'], 
     ['God', 45, 'Pashupati'],
     ['Ram', 30,'Ayodha'],
     ['Ram', 55,'Janakpur']]

search = input("Enter name for search = ")
for i in a:
    if search != i[0]:
        b.append(i)

print(b)

Enter name for search =  Ram

[['Shyam', 25, 'bhaktapur'], ['God', 45, 'Pashupati']]