In [ ]:
#for loop 
#while loop

In [ ]:
#for loop range 
#range(5)          #0,1,2,3,4
#range(1,5)        #1,2,3,4
#range(1,10,2)     #1,3,5,7,9

In [2]:
for i in range(5):
    print(i, "god")

0 god
1 god
2 god
3 god
4 god

In [3]:
for i in range(1,5):
    print(i, "god")

1 god
2 god
3 god
4 god

In [4]:
for i in range(1,10,2):
    print(i, "god")

1 god
3 god
5 god
7 god
9 god

In [5]:
for i in range(5,-1,-1):
    print(i, "god")

5 god
4 god
3 god
2 god
1 god
0 god

In [6]:
#wap to create a multiplication table 
n = int(input("Enter n = "))
for i in range(1,11):
    print(i*n)

Enter n =  5

5
10
15
20
25
30
35
40
45
50

In [7]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
s = 0 
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x*1.1
    print(s)

Enter n =  5
Enter x =  1000

1100.0

Enter x =  2000

3300.0

Enter x =  3000

6600.0

Enter x =  4000

11000.0

Enter x =  5000

16500.0

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s + name + "\n"

print(s)

Enter n =  3
Enter name =  Jack
Enter name =  Daniels
Enter name =  Bagpiper

Jack
Daniels
Bagpiper

In [1]:
# 1 WAP to find factorail of a given number 
#5! = 1*2*3*4*5

s = 1 
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s * i 
    print(s)

Enter n =  5

1
2
6
24
120

In [ ]:
# 2 WAP to find sum of all values (from 1 to itself)
5 -> 1+2+3+4+5

In [2]:
# 2 WAP to find sum  all value (from 1 to itself)

s = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s + i 
print(s)

Enter n =  5

15

In [9]:
#WAP to store a name and phone number of given persons 
s = " "
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    number = input("Enter number = ")
    s = s + name + "\t" +number + "\n" 

print(s)

Enter n =  2
Enter name =  Jack
Enter number =  9861973595
Enter name =  Rambo
Enter number =  9739654322

 Jack	9861973595
Rambo 	9739654322

In [ ]:
# WAP to create a billing system 
#product - > ?
#price - > ?
#qty - > 
#total - > ?

In [15]:
bill = " " 
final_total = 0 
n = int(input("Enter n = ")) 
for i in range(n):
    product = input("Enter prodcut = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = product + "\t" +str(price) + "\t" +str(qty) + "\t" + str(total) + "\n"
    bill = bill + x
    final_total = final_total + total

print(bill)
print('total amount = ', final_total)

Enter n =  2
Enter prodcut =  beer
Enter price =  300
Enter qty =  4
Enter prodcut =  cig
Enter price =  270
Enter qty =  4

 beer	300	4.0	1200.0
cig	270	4.0	1080.0

total amount =  2280.0

In [19]:
#loop on string
a = "Hello"
for i in a:
    print(i, "Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World

In [20]:
a = "Hello World. I am BBC."
for i in a:
    print(i, end = "")

Hello World. I am BBC.

In [21]:
a = "Hello World. I am BBC."
for i in a:
    if i != ".":
        print(i, end = "")

Hello World I am BBC

In [24]:
a = "Hello World! I am python."
for i in a:
    if (i != ".") and (i != "!"):
        print(i, end = "")

Hello World I am python

In [ ]:
#control statements
#break
#continue 
#pass

In [1]:
a = 5    
for i in range(10):
    if i == a:
        break 
    print(i)

0
1
2
3
4

In [2]:
a = 5 
for i in range(10):
    if i == a:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [3]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [4]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello World I am Python

In [ ]:
#while loop (when you have to control the loop)

In [ ]:
#while conditions>;
#    <operations>

In [5]:
a = 0
while a<5:
    print(a, "Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [1]:
a = 5
while a>0:
    print(a, "Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [2]:
n = int(input("Enter n = "))
i = 1
while i <=10:
    print(n, "*",i,"=",n*1)
    i = i+1

Enter n =  5

5 * 1 = 5
5 * 2 = 5
5 * 3 = 5
5 * 4 = 5
5 * 5 = 5
5 * 6 = 5
5 * 7 = 5
5 * 8 = 5
5 * 9 = 5
5 * 10 = 5

In [4]:
s = 0 
i = 0 
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1
print(s)

Enter n =  3
Enter x =  4
Enter x =  3
Enter x =  6

13

In [2]:
#wap to store name and phone no. of given persons
i = 0
s = ""
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + "\t" +phone + "\n"
    i = i + 1 

print(s)

Enter n =  3
Enter name =  ram
Enter phone =  9861973505
Enter name =  shyam
Enter phone =  000000000
Enter name =  gandu
Enter phone =  999182382982

ram 	9861973505
shyam 	000000000
gandu 	999182382982

In [3]:
i = 0
bill = " " 
final_total = 0 
n = int(input("Enter n = ")) 
while i<n:
    product = input("Enter prodcut = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = product + "\t" +str(price) + "\t" +str(qty) + "\t" + str(total) + "\n"
    bill = bill + x
    final_total = final_total + total
    i = i + 1

print(bill)
print('total amount = ', final_total)

Enter n =  2
Enter prodcut =  beer
Enter price =  300
Enter qty =  3
Enter prodcut =  cig
Enter price =  270
Enter qty =  3

 beer	300	3.0	900.0
cig	270	3.0	810.0

total amount =  1710.0

In [ ]:
#control statement in while loop

In [4]:
i = 0 
while i<10:
    if i == 5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [1]:
i = 0 
while i<15:
    if i == 12:
        i = i + 1 
        continue 
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
13
14

In [3]:
# for else loop 
#prime -> 2,3,5,7,11,13,17,19
#composite -> 4,6,8,9,10,12

n = int(input("Enter n = "))
for i in range(2,n):
    if n%i == 0:
        print("composite no")
else:
    print("The no is prime")

Enter n =  10

composite no
composite no
The no is prime