In [2]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\dell\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector   

database = mysql.connector.connect(
    host = "localhost",
    user = "root", 
    password = "",
    database = "pythonclass8am"
)
db = database.cursor()

In [3]:
#read all data from database
db.execute("SELECT * FROM student")
result =db.fetchall()

for x in result:
    print(x)

(1, 'Jackie', 89, 79, 99, 87, 56, 470, 90.0, 'A')
(2, 'Chan', 89, 80, 79, 99, 80, 450, 85.0, 'A')
(3, 'Rambo', 99, 80, 69, 87, 88, 460, 86.0, 'A')
(4, 'Tina', 98, 84, 96, 85, 89, 470, 88.0, 'A')
(5, 'Montana', 60, 55, 80, 80, 34, 360, 75.0, 'B')
(6, 'Clint', 78, 89, 90, 68, 86, 85, 75.0, 'B')

In [4]:
#read selected columns]'s data from database 
db.execute("SELECT sn,name,per,grade FROM student")
result = db.fetchall()

for x in result:
    print(x)

(1, 'Jackie', 90.0, 'A')
(2, 'Chan', 85.0, 'A')
(3, 'Rambo', 86.0, 'A')
(4, 'Tina', 88.0, 'A')
(5, 'Montana', 75.0, 'B')
(6, 'Clint', 75.0, 'B')

In [5]:
#read filtered column's data frim the database
db.execute("SELECT * FROM student WHERE grade = 'B'")
result = db.fetchall()

for x in result:
    print(x)

(5, 'Montana', 60, 55, 80, 80, 34, 360, 75.0, 'B')
(6, 'Clint', 78, 89, 90, 68, 86, 85, 75.0, 'B')

In [14]:
#write on table 
sql = """INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) VALUES ('Clint', 78 , 89, 90, 68, 86, 85, 75, 'B');"""
db.execute(sql)
database.commit()

total = physics + chemistry + math + english + nepali
per = total/5

if per >=80:
    grade = 'A'
elif per >=60:
    grade = 'B' 
elif per >=50:
    grade = 'C' 
else:
    grade = 'F' 

sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali, tottal, per, grade)
VALUES ('{name}', {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}');'''
db.execute(sql)
database.commit()

NameError: name 'physics' is not defined

In [18]:
name = input("Enter name= ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
nepali = int(input("Enter nepali marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = ")) 

total = physics+chemistry+nepali+math+english
per = total/5

if per >=80:
    grade = 'A'
elif per >=60:
    grade = 'B' 
elif per >=50:
    grade = 'C' 
else:
    grade = 'F' 

sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade)
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}');'''
db.execute(sql)
database.commit()

Enter name=  Ram
Enter physics marks =  45
Enter chemistry marks =  4
Enter nepali marks =  5
Enter math marks =  5
Enter english marks =  45

In [20]:
sn = int(input("Enter sn = "))
name = input("Enter name = ")
sql = f'''UPDATE student SET name = '{name}' WHERE sn = {sn}; '''
db.execute(sql)
database.commit()

Enter sn =  4
Enter name =  Tina

In [21]:
#!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (from pandasql) (2.0.34)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=c5ad92ff38f062d4a54db2722f23b9e7fe92a0fb9d94a39b764859a6f01ec36d
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
#import pandasql as sqldf 
#sqldf("SELECT * FROM student")

In [6]:
#delete in sql 
sn = int(input("Enter sn = "))
sql = f"""DELETE FROM student WHERE sn = {sn}"""
db.execute(sql)
database.commit()

Enter sn =  6