In [1]:
#string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = '10'
print(type(a))

<class 'str'>

In [4]:
a = input("Enter a = ")
print(type(a))

Enter a =  10

<class 'str'>

In [5]:
# + *
a = "Hello"
b = "World"
c = a+b 
print(c)

HelloWorld

In [6]:
a = "Hello World"
print(a*2)

Hello WorldHello World

In [9]:
a = "Hello World"
print(a[0])    #indexing 
print(a[0:5])   #slicing
print(a[0:10:2]) #increment

H
Hello
HloWr

In [2]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
a = "Hello World"
l = len(a) 
i = 0 
while i<l:
    print(a[i])
    i = i + 1

H
e
l
l
o

W
o
r
l
d

In [3]:
#string 
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name =  Jack
Enter age =  20
Enter add =  ktm

Hello World I am Jack I am from ktmI am 20

In [5]:
#string formatting 
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ") 
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name =  Jack
Enter age =  20
Enter add =  Monaco

Hello World I am Jack . I am from Monaco . I am 20

In [6]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    phone = int(input("Enter phone = "))
    s = s + f"{name} {phone} \n"

print(s)

Enter n =  2
Enter name Ramey
Enter phone =  9861239992392
Enter name Shyamey
Enter phone =  9589505835023

Ramey  9861239992392
Shyamey  9589505835023

In [8]:
# search in string 
a = "Ram Shyam Hari Sita Gita Nabin Ram"
search = "Ram"
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Yes
2

In [11]:
a = "Jenish Pramod Ajit"
print(a.upper())
print(a.lower())

JENISH PRAMOD AJIT
jenish pramod ajit

In [13]:
a = "Jenish Ajit Pramod".lower()
b = "jEnish".lower()
print(a)
print(b)

jenish ajit pramod
jenish

In [14]:
#replace 
a = "Ram Shyam Hari Gita Sita Ram"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Gita Sita Rama