In [ ]:
#tuple
# -indexing
# -ordered
# -Multiple and Duplicate 
# -Imutable

In [1]:
t = (1,2,3,4,5,6,7,8,9)
print(type(t))

<class 'tuple'>

In [3]:
t = ("Apple","Ball")
print(type(t))

<class 'tuple'>

In [4]:
t = ("Apple",)
print(type(t))

<class 'tuple'>

In [6]:
t = ("Apple","Ball","Cat","Dog")
print(t[1])

Ball

In [7]:
t = ("Apple","Ball","Cat","Dog")
print(t[0:2])

('Apple', 'Ball')

In [ ]:
#We cant use append() insert() extend() 
#update()
#del() rem() pop()
#sort()
#reverse()

In [8]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
print(t)

Enter n =  5
Enter x =  45
Enter x =  45
Enter x =  65
Enter x =  76
Enter x =  88

(45, 45, 65, 76, 88)

In [10]:
print(max(t))
print(min(t))
print(sum(t))

88
45
319

In [11]:
a = 10,15,20,25,30,35
print(a)

(10, 15, 20, 25, 30, 35)

In [12]:
#tuple to list 
t = ("Apple","Ball","Cat","Dog","Apple")
l = list(t)
del l[0]
t = tuple(l)
print(t)

('Ball', 'Cat', 'Dog', 'Apple')

In [13]:
#tuple insied tuple 
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))